<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>
	<appender class="ch.qos.logback.core.FileAppender" name="FILE-APP">
		<file>/var/log/test.log</file>
		<encoder>
			<pattern>%d %-5p: [%c] %m %rEx{3} %n</pattern>
		</encoder>
	</appender>
	<logger name="org.hibernate" level="INFO"/>
	<logger name="org.apache" level="INFO"/>
	<logger name="org.quartz" level="INFO"/>
	<root level="debug">
		<appender-ref ref="consoleAppender"/>
		<appender-ref ref="FILE-APP"/>
	</root>
</configuration>